<!DOCTYPE html>
<html ng-app="chewy" ng-class="{statusboard: statusboard}">
    <head>
        <title>Chewy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet/less" type="text/css" href="css/chewy.less" />
        <script type="text/javascript" src="libs/less.js"></script>
    </head>
    <body ng-controller="main" ng-switch="state">
        <div ng-switch-default>
            <div class="uistate uistate-loading">
                <div class="uistate-content">
                    <div class="spinner"></div>
                    <h3>Authorizing</h3>
                </div>
            </div>
        </div>
        <div ng-controller="dashboard" ng-switch-when="authorized" ng-switch="state" ng-cloak>
            <header class="navbar navbar-inverse navbar-static-top" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand">Chewy</a>
                        <div class="pull-right">
                            <select ng-model="boardId" ng-options="board.id as board.name for board in boards"></select>
                            <span ng-switch="refreshStatus">
                                <span ng-switch-when="loading"><div class="spinner"></div></span>
                                <span ng-switch-when="error">error</span>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                <div ng-switch-when="loading">
                    <div class="uistate uistate-loading">
                        <div class="uistate-content">
                            <img ng-src="{{loadingImage}}" style="width: 100%" />
                            <h3>Loading board...</h3>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="active">
                    <div progressbar="data.progress" class="board-progress"></div>
                    <h2>Members</h2>
                    <div class="members">
                        <div ng-repeat="row in membersGrid track by $index" class="row">
                            <div ng-repeat="member in row track by member.id" class="member col-md-6">
                                <div class="content">
                                    <img ng-src="{{member.avatarHash|avatar:50}}" alt="{{member.fullName}}" title="{{member.fullName}}" />
                                    <p class="doing">
                                        <strong>Doing</strong>
                                        <span ng-pluralize
                                            ng-class="{muted: member.doingNames.length == 0}"
                                            count="member.doingNames.length"
                                            offset="2"
                                            when="{
                                                '0': 'nothing',
                                                '1': '{{member.doingNames[0]}}',
                                                '2': '{{member.doingNames[0]}}, {{member.doingNames[1]}}',
                                                'one': '{{member.doingNames[0]}}, {{member.doingNames[1]}} + 1',
                                                'other': '{{member.doingNames[0]}}, {{member.doingNames[1]}} + {}'
                                            }">
                                        </span>
                                    </p>
                                </div>
                                <div progressbar="member.progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="libs/jquery.js"></script>
        <script type="text/javascript" src="libs/angular.js"></script>
        <script type="text/javascript" src="libs/jquery.backstretch.min.js"></script>
        <script type="text/javascript" src="scripts/chewy.js"></script>
        <script src="https://api.trello.com/1/client.js?key=7f1fd18d0a397f3d0664ae319a624315"></script>
    </body>
</html>
